
<section>
  <div>
    <h2>Impressora Multifuncional</h2>
    
    <p>Fornecedor: <%= @product_model.supplier.brand_name %></p>
    
    <p>Peso: <%= @product_model.weight %>g</p>
    
    <p>Dimensão:
      <%= @product_model.width %>cm x
      <%= @product_model.height %>cm x
      <%= @product_model.depth %>cm
    </p>

    <p>SKU: <%= @product_model.sku %></p>
  </div>
</section>

