
<div>
  <p>Pedido: <%= link_to order.code, order %></p>
  <p>Galpão de destino: <%= order.warehouse.code %></p>
  <p>Fornecedor: <%= order.supplier.brand_name %></p>
  <p>Usuário: <%= order.user.name %></p>
  <p>Previsão de entrega: <%= l order.expected_delivery_date %></p>
</div>
